@font-face {
    font-family: 'houschka_headmedium';
    src: url('/fonts/houschkahead-medium-web.eot');
    src: url('/fonts/houschkahead-medium-web.eot?#iefix') format('embedded-opentype'), url('/fonts/houschkahead-medium-web.woff2') format('woff2'), url('/fonts/houschkahead-medium-web.woff') format('woff'), url('/fonts/houschkahead-medium-web.ttf') format('truetype'), url('/fonts/houschkahead-medium-web.svg#houschka_headmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'houschka_headdemibold';
    src: url('/fonts/houschkahead-demibold-web.eot');
    src: url('/fonts/houschkahead-demibold-web.eot?#iefix') format('embedded-opentype'), url('/fonts/houschkahead-demibold-web.woff2') format('woff2'), url('/fonts/houschkahead-demibold-web.woff') format('woff'), url('/fonts/houschkahead-demibold-web.ttf') format('truetype'), url('/fonts/houschkahead-demibold-web.svg#houschka_headdemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 14px;
    --backgrounds-gradient: linear-gradient(180deg, #da291c, #bf0d3e);
    --adecco-bg: #da291c;
    --white: #fff;
    --cyan: #ccf2ff;
    --black: #000306;
    --roboto: 'Roboto', sans-serif;
    --small-font: 0.8rem;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* Set a default size for images with sizes="auto" to prevent layout shifts */
img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 1500px 750px
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding: 12px 10px;
    text-align: center;
    font-weight: 300;
    box-shadow: 0 -1px 10px 0 rgba(172, 171, 171, 0.3);
    width: 100%;
    z-index: 10000;
    background: white;
}

    #cookieConsent .cookiePrivacy {
        font-weight: 550;
        margin: 0px 20px 0px 15px;
        color: rgb(68,68,68);
        text-decoration: none;
    }

    #cookieConsent .cookieButton {
        color: rgb(255,255,255);
        background-color: rgb(10,0,0);
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-top: 5px;
        padding: 9px 12px;
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
    }

.roboto {
    font-family: var(--roboto);
}

.houschka_headmedium {
    font-family: 'houschka_headmedium';
}

.btn-lined {
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: var(--small-font);
    font-family: 'houschka_headdemibold';
}

.small-font {
    /*font-size: var(--small-font);*/
    font-size: 0.85rem;
}

.uppercase {
    text-transform: uppercase;
}

.tiny-font {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.footer-logo-white {
    max-width: 90%;
}

.candidates a, .candidates a:link, .candidates a:visited {
    text-decoration: none;
    color: black;
}

.entry-title {
    font-family: 'houschka_headdemibold';
}

.entry-content p {
    font-size: 20px;
    font-family: var(--roboto);
    font-weight: 400;
    color: #1c304b;
}

    .entry-content p a:link,
    .entry-content p a:visited {
        color: #fff;
        background: red;
        text-decoration: none;
        padding: 0 6px;
        margin: 0 2px;
        display: inline-block;
        border-radius: 8px;
        font-family: 'houschka_headdemibold';
    }

    .entry-content p a:hover {
        background: grey;
    }

.entry-content ol {
    margin: 0 0 1rem 3em;
    padding-left: 2rem;
}
