@font-face {
    font-family: 'houschka_headmedium';
    src: url('/fonts/houschkahead-medium-web.eot');
    src: url('/fonts/houschkahead-medium-web.eot?#iefix') format('embedded-opentype'), url('/fonts/houschkahead-medium-web.woff2') format('woff2'), url('/fonts/houschkahead-medium-web.woff') format('woff'), url('/fonts/houschkahead-medium-web.ttf') format('truetype'), url('/fonts/houschkahead-medium-web.svg#houschka_headmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'houschka_headdemibold';
    src: url('/fonts/houschkahead-demibold-web.eot');
    src: url('/fonts/houschkahead-demibold-web.eot?#iefix') format('embedded-opentype'), url('/fonts/houschkahead-demibold-web.woff2') format('woff2'), url('/fonts/houschkahead-demibold-web.woff') format('woff'), url('/fonts/houschkahead-demibold-web.ttf') format('truetype'), url('/fonts/houschkahead-demibold-web.svg#houschka_headdemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
    --max-width: 1150px;
    --backgrounds-gradient: linear-gradient(180deg, #da291c, #bf0d3e);
    --adecco-bg: #da291c;
    --adecco-bg2: #db0b21;
    --white: #fff;
    --cyan: #ccf2ff;
    --black: #000306;
    --gray3: #6f6f6f;
    --roboto: 'Roboto', sans-serif;
    --small-font: 0.8rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* Set a default size for images with sizes="auto" to prevent layout shifts */
img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 1500px 750px
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.adecco-color-bg {
    background-color: #DB0921;
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding: 12px 10px;
    text-align: center;
    font-weight: 300;
    box-shadow: 0 -1px 10px 0 rgba(172, 171, 171, 0.3);
    width: 100%;
    z-index: 10000;
    background: white;
}

    #cookieConsent .cookiePrivacy {
        font-weight: 550;
        margin: 0px 20px 0px 15px;
        color: rgb(68,68,68);
        text-decoration: none;
    }

    #cookieConsent .cookieButton {
        color: rgb(255,255,255);
        background-color: rgb(10,0,0);
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-top: 5px;
        padding: 9px 12px;
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
    }

.roboto {
    font-family: var(--roboto) !important;
}

.houschka_headmedium {
    font-family: 'houschka_headmedium' !important;
}

.houschka_headdemibold {
    font-family: 'houschka_headdemibold' !important;
}

.btn-lined {
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: var(--small-font);
    font-family: 'houschka_headdemibold';
}

.uppercase {
    text-transform: uppercase;
}

.cyan-bg {
    background: var(--cyan);
}

.black-bg {
    background: var(--black) !important;
}

.tiny-font {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.small-font {
    font-size: 0.85rem;
}

.small-font-2 {
    font-size: 1rem;
}

.footer-logo-white {
    max-width: 90%;
}

.candidates a, .candidates a:link, .candidates a:visited {
    text-decoration: none;
    color: black;
}

.entry-header {
    max-width: 700px;
}

.entry-title {
    font-family: 'houschka_headdemibold';
}

.entry-content p {
    font-size: 20px;
    font-family: var(--roboto);
    font-weight: 400;
    color: #1c304b;
}

    .entry-content p a:link,
    .entry-content p a:visited {
        color: #fff;
        background: red;
        text-decoration: none;
        padding: 0 6px;
        margin: 0 2px;
        display: inline-block;
        border-radius: 8px;
        font-family: 'houschka_headdemibold';
    }

    .entry-content p a:hover {
        background: grey;
    }

.entry-content h2 {
    font-size: 35px;
    margin: 60px 0 20px;
    color: #323232;
}

.entry-content h3 {
    font-size: 30px;
    margin: 60px 0 20px;
    color: #323232;
}

.entry-content h4 {
    font-size: 26px;
    margin: 60px 0 20px;
    color: #323232;
}

.entry-content ul {
    margin: 0 0 0 20px;
    padding: 0;
}

.entry-content ol {
    margin: 0 0 1rem 3em;
    padding-left: 2rem;
}

.entry-content .social-box a {
    color: white;
}

.video-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#crumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #crumbs li {
        float: left;
        margin-right: 5px;
        color: #fff;
        font-family: 'houschka_headmedium';
    }

        #crumbs li a {
            color: #fff;
            text-decoration: none;
        }

.hover-2 {
    background-image: linear-gradient(var(--adecco-bg2) 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .1s;
}

    .hover-2:hover {
        transition: background-size .3s .3s, background-position .3s;
        background-size: 200% 5%;
        background-position: 100% 100%;
    }

.hover-3 {
    background-image: linear-gradient(#FFFFFF 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .1s;
}

    .hover-3:hover {
        transition: background-size .3s .3s, background-position .3s;
        background-size: 200% 5%;
        background-position: 100% 100%;
    }

.hover-4 {
    background-image: linear-gradient(#FFFFFF 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .1s;
    padding: 0 4px;
    border-radius: 8px;
}

    .hover-4:hover {
        color: red !important;
        transition: background-size .3s .3s, background-position .3s, color 1s;
        background-size: 200% 99%;
        background-position: 100% 100%;
    }

.list-secondary {
    font-family: 'houschka_headdemibold';
}

    .list-secondary ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .list-secondary ul li {
            float: left;
            line-height: 24px;
        }

            .list-secondary ul li a {
                color: #fff;
            }

.right-separator {
    border-right: 1px solid #5d5d5d;
    padding-right: 10px;
    margin-right: 10px;
}

.color-gray3 {
    color: var(--gray3);
}

.custom-margin1 {
    margin: 6px 10px;
}

.main-site {
    max-width: var(--max-width);
}

    .main-site h1, .main-site h2, .main-site h3, .main-site h4 {
        font-family: 'houschka_headdemibold';
    }

.letter-spacing-1 {
    letter-spacing: 1px;
}

.posts-gallery .post-title {
    overflow: hidden;
    height: 420px;
    box-shadow: 0 0 20px #e5e5e5;
}

.posts-gallery .image-wrapper {
    height: 190px;
    overflow: hidden;
}

    .posts-gallery .image-wrapper img {
        object-fit: cover;
        object-position: center;
    }

.posts-gallery .title-project {
    height: 80px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #000;
    font-family: "Roboto";
    transition: ease-in 0.2s;
}

.posts-gallery .pagination li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

    .posts-gallery .pagination li span {
        list-style: none;
        display: inline-block;
        margin: 0 8px;
    }

    .posts-gallery .pagination li .page-link {
        width: 40px;
        height: 40px;
        color: #6B7280;
        text-decoration: none;
        border: none !important;
        font-family: houschka_headdemibold;
        text-align: center;
    }

.posts-gallery .pagination .active > .page-link {
    color: black !important;
    background-color: #F8F8F9 !important;
}

.posts-gallery .pagination .disabled > .page-link {
    color: #B2B6BD !important;
    background-color: transparent !important;
}

.single-post a,
.single-post a:visited {
    font-family: 'houschka_headdemibold';
    color: #000;
}

.single-post img {
    height: auto;
    max-width: 100%;
}

.single-post .entry-sidebar {
    background: #F8F8F9;
    border-radius: 9px;
}


    .single-post .entry-sidebar h3,
    .single-post .entry-sidebar h4 {
        font-family: 'houschka_headmedium';
    }

    .single-post .entry-sidebar .social-box a {
        color: white !important;
        background: black;
        width: 25px;
        height: 25px;
        padding: 0;
        font-size: 14px;
    }

    .single-post .entry-sidebar .badge {
        overflow: hidden;
        text-overflow: ellipsis;
    }
