.input-group {
    border: 0.5px solid #808080;
    border-radius: 8px;
    overflow: hidden;
    padding: 3px 5px;
}

.search-button {
    font-size: 14px;
    height: 39px;
    border-radius: 7px;
}

hr {
    color: #fdfdfd;
    background-color: #ccc;
    height: 1px;
    box-sizing: content-box;
}