<div class="sidebar-nav d-block d-md-none">
    <nav class="navbar navbar-dark fixed-top">
        <div class="container">

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                </div>
            </div>

            <div class="btn-group">
                <a href="#" class="text-decoration-none" aria-expanded="false">
                    <a href="/">
                        <img src="~/images/logo.png"
                             class="mt-1 mt-md-5 mb-0" />
                    </a>
                </a>
            </div>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</div>

<div class="container top-sections">
    <div class="row g-0 py-0 menu-top">
        <div class="col-auto mt-md-0 pt-md-0 candidates">
            <a href="https://www.adecco.com/es-mx/aspirantes" class="py-2 px-4 d-block mb-0 menu-item">
                PARA
                ASPIRANTES
            </a>
        </div>
        <div class="col-auto mt-md-0 pt-md-0 active">
            <a href="https://www.adecco.com/es-mx/empresas" class="py-2 px-4 d-block mb-0 menu-item">
                PARA
                EMPRESAS
            </a>
        </div>
    </div>
</div>

<div class="bgGradient d-none d-md-block">
    <div class="container d-flex justify-content-between">
        <div class="row py-2 align-items-center menu-nav">
            <div class="col-auto">
                <a class="d-block" href="/">
                    <img src="~/images/logo.png"
                         class="mb-0 module come-in" />
                </a>
            </div>
            <div class="col-auto pt-2 dropdown px-4">
                <a class="text-white mb-0 small-font roboto dropdown-toggle text-decoration-none" href="#"
                   role="button" id="dropdownServicios" data-bs-toggle="dropdown" aria-expanded="false">
                    SERVICIOS ESPECIALIZADOS
                </a>
                <ul class="dropdown-menu shadow border-0 rounded-4 p-3" aria-labelledby="dropdownServicios">
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/servicios-especializados/adecco-industrial-logistics">
                            Industrial
                            & Logistics
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/promociones">Promociones</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/servicios-especializados/adecco-healthcare">Healthcare</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/servicios-especializados/adecco-office">Office</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/servicios-especializados/adecco-it">IT</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/servicios-especializados/adecco-agro">Agro</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/adecco-nearshore-outsourcing">
                            Nearshore
                            Outsourcing
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-auto pt-2 px-4">
                <a class="text-white mb-0 small-font roboto text-decoration-none"
                   href="https://www.adecco.com/es-mx/empresas/service-pack" role="button">SERVICE PACKS</a>
            </div>
            <div class="col-auto pt-2 px-4">
                <a class="text-white mb-0 small-font roboto text-decoration-none"
                   href="https://www.adecco.com/es-mx/empresas/payroll" role="button">PAYROLL</a>
            </div>
            <div class="col-auto pt-2 dropdown px-4">
                <a class="text-white mb-0 small-font roboto dropdown-toggle text-decoration-none" href="#"
                   role="button" id="dropdownServicios" data-bs-toggle="dropdown" aria-expanded="false">
                    TALENT SOLUTIONS
                </a>
                <ul class="dropdown-menu shadow border-0 rounded-4 p-3" aria-labelledby="dropdownServicios">
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/proceso-reclutamiento">
                            Reclutamiento
                            Permanente
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/rpo">
                            RPO (Recruitment Process
                            Outsourcing)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-uppercase fw-bold text-dark"
                           href="https://www.adecco.com/es-mx/empresas/servicios-especializados/hr-bpo">
                            HRBPO
                            (HR Business Process Outsourcing)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-auto pt-2 px-4">
                <a class="text-white mb-0 small-font roboto text-decoration-none"
                   href="https://www.adecco.com/es-mx/empresas/training-consulting" role="button">
                    TRAINING &
                    CONSULTING
                </a>
            </div>
        </div>
    </div>
</div>

<div class="text-bg-dark d-none">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-12 col-lg-8 col-xl-9 py-3 list-secondary">
            </div>

            <div class="col-12 col-lg-4 col-xl-3 py-3 list-secondary">
            </div>
        </div>
    </div>
</div>