<footer class="text-center text-lg-start pt-2 pt-md-5 pb-3 mt-5 black-bg">

    <div class="container p-4 pb-0">

        <div class="row mb-5 mb-md-5">

            <div class="col-12 col-md d-flex flex-column flex-wrap justify-content-start align-items-start mb-5 gap-2">
                <h4 class="roboto text-white fw-lighter">Contacto para ventas</h4>
                <p class="text-white fw-lighter text-start">Cuéntanos que requieres para ofrecerte la solución ideal a tu necesidad.</p>
                <a class="btn-lined" href="https://www.adecco.com/es-mx/contacto">CONTÁCTANOS</a>
            </div>
            <div class="col-12 col-md d-flex flex-column flex-wrap justify-content-start align-items-start mb-5 gap-2">
                <h4 class="roboto text-white fw-lighter">Programa de satisfacción</h4>
                <p class="text-white fw-lighter text-start">Descubre nuestro Programa de Satisfacción, diseñado para mejorar la experiencia de tu equipo.</p>
                <a class="btn-lined" href="https://www.adecco.com/es-mx/contacto">CONTÁCTANOS</a>
            </div>
            <div class="col-12 col-md d-flex flex-column flex-wrap justify-content-start align-items-start mb-5 gap-2">
                <h4 class="roboto text-white fw-lighter">Quejas y sugerencias</h4>
                <p class="text-white fw-lighter text-start">Comparte tus quejas y sugerencias para ayudarnos a mejorar continuamente nuestros servicios.</p>
                <a class="btn-lined" href="https://www.adecco.com/es-mx/contacto">CONTÁCTANOS</a>
            </div>
            <div class="col-12 col-md d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                <h4 class="roboto text-white fw-lighter">Red de sucursales</h4>
                <p class="text-white fw-lighter text-start">Explora nuestra red de sucursales en todo México para recibir el apoyo que necesitas cerca de ti.</p>
                <a class="btn-lined" href="https://www.adecco.com/es-mx/sucursales">CONTÁCTANOS</a>
            </div>

        </div>

        <div class="w-100 d-none d-md-block tall-block"></div>

        <div class="row mb-0 mb-md-5">

            <div class="col-3 mb-4 mb-md-0 d-none d-md-block">
                <img src="~/images/adecco-logo-white.png" class="mb-3 footer-logo-white"/>
            </div>

            <div class="col-12 col-md-3 mb-4 mb-md-0 d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                <h2 class="houschka_headmedium small-font text-white">Soluciones de talento</h2>
                <div class="d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Adecco Service Pack
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Nearshoring Outsourcing
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Agro
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-4 mb-md-0 d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                <h2 class="houschka_headmedium small-font text-white">Soluciones de talento</h2>
                <div class="d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Reclutamiento Permanente
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        RPO
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        HR BPO
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Training & Consulting
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Payroll
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-4 mb-md-0 d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                <h2 class="houschka_headmedium small-font text-white">Service Packs</h2>
                <div class="d-flex flex-column flex-wrap justify-content-start align-items-start gap-2">
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Industrial & Logistics
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Promociones
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Healthcare
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        Office
                    </a>
                    <a href="#" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase">
                        IT
                    </a>
                </div>
            </div>

        </div>

        <hr class="mb-4" />

        <div class="row justify-content-center mt-4 mb-3 my-md-5">
            <div class="col-12 col-md-auto d-flex flex-row flex-nowrap justify-content-start align-items-center gap-4">
                <a asp-page="/Index" class="roboto text-decoration-none tiny-font text-white uppercase">Blog</a>
                <a href="https://www.adecco.com/es-mx/condiciones-de-uso" target="_blank" class="roboto text-decoration-none tiny-font text-white uppercase">Condiciones de uso del sitio web</a>
                <a href="https://www.adecco.com/es-mx/politica-de-cookies" target="_blank" class="roboto text-decoration-none tiny-font text-white uppercase">Política de Cookies</a>
            </div>
        </div>

        <div class="row justify-content-between">

            <div class="col-12 col-md-auto mb-4 mb-md-0 d-flex flex-row flex-nowrap justify-content-start align-items-center gap-4">
                <div class="d-flex flex-wrap flex-md-nowrap flex-column flex-md-row align-items-start align-items-center gap-3 gap-md-5">
                    <span class="roboto text-decoration-none tiny-font text-white uppercase d-none d-md-block">©Adecco @DateTime.Now.Year</span>
                    <a href="https://www.adecco.com/es-mx/politica-privacidad" target="_blank" class="roboto text-decoration-none tiny-font text-white uppercase">Política de Privacidad del sitio web</a>
                    <a href="https://www.adecco.com/es-mx/aviso-de-privacidad" target="_blank" class="roboto text-decoration-none tiny-font text-white uppercase">Seguridad y Pishing</a>
                    <a href="#" target="_blank" class="roboto text-decoration-none tiny-font text-white uppercase">Configuración de cookies</a>
                    <a href="https://www.adecco.com/es-mx/politica-de-privacidad" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase d-block d-md-none">Política de Privacidad</a>
                </div>
            </div>

            <div class="col-12 col-md-auto d-flex flex-row flex-nowrap justify-content-start align-items-center gap-4">
                <div class="d-flex align-items-center gap-4">

                    <a href="https://www.youtube.com/user/AdeccoMex" target="_blank"
                       class="text-dark bg-white rounded-circle d-flex justify-content-center align-items-center brand-icon">
                        <i class="fab fa-youtube"></i>
                    </a>

                    <a href="https://www.instagram.com/adeccomx/" target="_blank"
                       class="text-dark bg-white rounded-circle d-flex justify-content-center align-items-center brand-icon">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/AdeccoMexico" target="_blank"
                       class="text-dark bg-white rounded-circle d-flex justify-content-center align-items-center brand-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="https://www.tiktok.com/@@adeccomx" target="_blank"
                       class="text-dark bg-white rounded-circle d-flex justify-content-center align-items-center brand-icon">
                        <i class="fab fa-tiktok"></i>
                    </a>

                    <a href="https://www.linkedin.com/company/adecco/" target="_blank"
                       class="text-dark bg-white rounded-circle d-flex justify-content-center align-items-center brand-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="https://x.com/adeccomexico" target="_blank"
                       class="text-dark bg-white rounded-circle d-flex justify-content-center align-items-center brand-icon">
                        <i class="fab fa-twitter"></i>
                    </a>

                </div>
            </div>

        </div>

        <div class="row justify-content-start justify-content-md-center mt-5 mb-3">
            <div class="col-auto">
                <a href="https://www.adecco.com/es-mx/politica-de-privacidad" target="_blank" class="houschka_headmedium text-decoration-none tiny-font text-white uppercase d-none d-md-block">Política de Privacidad</a>
                <p class="roboto text-decoration-none tiny-font text-white uppercase d-block d-md-none">©Adecco @DateTime.Now.Year</p>
            </div>
        </div>

    </div>

</footer>