.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.black-bg {
    background: black;
}

p {
    font-family: 'houschka_headmedium';
}

hr {
    background-color: #ccc;
    height: 1px;
    box-sizing: content-box;
}

.tall-block {
    height: 115px;
}

.brand-icon {
    width: 25px;
    height: 25px;
}

.footer-logo  img {
    max-width: 90%;
}
