.navbar, .offcanvas {
    background: var(--adecco-bg2);
}

.w-100 {
    width: 100px;
}

.w-120 {
    width: 120px;
}

.w-130 {
    width: 130px;
}

.w-160 {
    width: 160px;
}

.w-180 {
    width: 180px;
}

.offcanvas .badge {
    font-family: var(--bs-body-font-family);
}