body .main-site {
    min-height: calc(100vh - 291px);
}

@media(min-width: 322px) {
    body .main-site {
        min-height: calc(100vh - 270px);
    }
}

@media(min-width: 354px) {
    body .main-site {
        min-height: calc(100vh - 229px);
    }
}

@media(min-width: 426px) {
    body .main-site {
        min-height: calc(100vh - 209px);
    }
}

@media(min-width: 768px) {
    body .main-site {
        min-height: calc(100vh - 190px);
    }
}

@media(min-width: 980px) {
    body .main-site {
        min-height: calc(100vh - 140px);
    }
}

body > footer {
    margin-top: 30px;
    overflow: hidden;
}
