@page "{category}/{subcategory1?}/{subcategory2?}/{subcategory3?}"
@model BlogAdecco.Pages.CategoriesModel
@{
}

<vc:head-breadcrumb />

<h1>@Model.Category / @Model.SubCategory1 / @Model.SubCategory2 / @Model.SubCategory3</h1>